<div class="tab biography {{tabs.description.cssClass}}" data-group="primary" data-tab="description">
  <div class="glass-panel">
    {{editor system.details.biography target="system.details.biography" button=true owner=owner editable=editable}}
  </div>
</div>
