<form class="{{cssClass}}" autocomplete="off">
  <div class="app-container">
    <section class="sheet-body">
      {{!-- Tabs Partials --}}
      {{> "systems/animus/templates/actor/tabs/actor-attributes.hbs" }}
      {{> "systems/animus/templates/actor/tabs/actor-combat.hbs" }}
      {{> "systems/animus/templates/actor/tabs/actor-inventory.hbs" }}
      {{> "systems/animus/templates/actor/tabs/actor-biography.hbs" }}
    </section>
  </div>
</form>